.single_book_details {
  text-align: justify;
}

.single_book_details_img {
  width: 230px;
  height: 320px;
}

.share_link i {
  background-color: #2488b0;
  color: #fff;
  border-radius: 50%;
  margin-right: 7px;
  padding: 5px;
}
.table_left {
  width: 180px !important;
  background-color: lightgrey !important;
}

.writer_available {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 3px solid gray;
  padding: 5px;
}
.writer_not_available {
  font-size: 70px;
  border: 1px solid gray;
  padding: 30px;
  border-radius: 50%;
}
