* {
  font-family: "Hind Siliguri", sans-serif;
}
body {
  background-color: #f1f2f4;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black !important;
}
img {
  width: 100%;
}

.custom_btn {
  border: none;
  outline: none;
  padding: 10px 30px;
  font-size: 18px;
  background-color: #2488b0;
  color: #fff;
  margin-right: 10px;
  margin-top: 10px;
  transition: 0.8s;
}
.custom_btn:hover {
  background-color: #1babe4;
}
.custom_btn_outline {
  border: none;
  outline: none;
  padding: 10px 30px;
  border: 1px solid #2488b0;
  background-color: transparent;
  font-size: 18px;
  color: #fff;
  margin-right: 10px;
  margin-top: 10px;
  transition: 0.8s;
}
.custom_btn_outline:hover {
  background-color: #2488b0;
  color: #fff !important;
}
button {
  color: black !important;
}

.stock {
  color: #33c24d;
}
